@using  Xomega.Framework

@if (AppliedCriteria != null)
{
    <div class="applied-criteria" title="@AppliedCriteriaText">
        <h4>@Title</h4>
        @foreach (var data in AppliedCriteria)
        {
            <span class="field-criteria">
                <span class="fc-label">@data.Label</span>
                <span class="fc-operator">@data.Operator</span>
                <span class="fc-data">
                @foreach (var v in data.Value)
                {
                    <span class="fc-datum">@v</span>
                }
                </span>
            </span>
        }
        @if (AppliedCriteria.Count == 0)
        {
            <span>None</span>
        }
    </div>
}

@code {
    [Parameter]
    public string Title { get; set; } = "Search Criteria";

    [Parameter]
    public string AppliedCriteriaText { get; set; }

    [Parameter]
    public List<FieldCriteriaSetting> AppliedCriteria { get; set; }
}