@using  Xomega.Framework

@inherits BasePager

<div class="pager widget">
    <div>@ChildContent(Indexes)</div>
    @if (MaxPage > 0)
    {
    <div class="pagination">
        <div class="pgn-summary">
            <span>Showing @(PageSize*(CurrentPage-1)+1) to @(Math.Min(PageSize*CurrentPage, ItemsCount)) of @ItemsCount items</span>
        </div>
        <div class="pgn-pages">
        @if (MaxPage > 1)
        {
            <ul>
                <li>
                    <a href="javascript: void(0)" class="fa fa-angle-double-left @(CurrentPage <= 1 ? "disabled" : "")"
                       @onclick="@(async () => await SetCurrentPage(1))"></a>
                </li>
                <li>
                    <a href="javascript: void(0)" class="fa fa-angle-left @(CurrentPage <= 1 ? "disabled" : "")"
                       @onclick="@(async () => await SetCurrentPage(CurrentPage - 1))"></a>
                </li>
                <li>
                    @foreach  (var p in GetPagesRange())
                    {
                    <ul>
                        <li><a href="javascript: void(0)" class="@(p == CurrentPage ? "active" : "")"
                               @onclick="@(async () => await SetCurrentPage(p))">@p</a></li>
                    </ul>
                    }
                </li>
                <li>
                    <a href="javascript: void(0)" class="fa fa-angle-right @(CurrentPage >= MaxPage ? "disabled" : "")"
                       @onclick="@(async () => await SetCurrentPage(CurrentPage + 1))"></a>
                </li>
                <li>
                    <a href="javascript: void(0)" class="fa fa-angle-double-right @(CurrentPage >= MaxPage ? "disabled" : "")"
                       @onclick="@(async () => await SetCurrentPage(MaxPage))"></a>
                </li>
            </ul>
        }
        </div>
        <div class="pgn-page-size">
            <span>Page size</span><select @onchange="@OnPageSizeChanged">
                 @foreach(var ps in PageSizes)
                 {
                     <option value="@ps" selected="@(ps == PageSize)">@ps</option>
                 }
                 </select>
        </div>
    </div>
    }
</div>