@using  Xomega.Framework

@if (ErrorList != null && ErrorList.Errors.Count() > 0)
{
    <div class="cpanel widget errors">
        <div class="widget-header">
            <span class="widget-caption">
                <span class="widget-title">@GetTitle()</span>
            </span>
            <div class="widget-toolbar">
                <div class="widget-toolbar-icon">
                    <input type="button" value="X" class="close-button" @onclick="@Close"/>
                </div>
            </div>
        </div>
        @foreach(var err in ErrorList.Errors)
        {
            <div class="@err.Severity">
                <i class="severity-icon fa @GetIconClass(err.Severity)"></i><span>@err.Message</span>
            </div>
        }
    </div>
}

@code {

    [Parameter]
    public ErrorList ErrorList { get; set; }

    protected string GetTitle()
    {
        string str = ErrorList.Errors.Any(e => e.Severity > ErrorSeverity.Warning) ? "error" :
            ErrorList.Errors.Any(e => e.Severity > ErrorSeverity.Info) ? "warning" : "message";
        str = "Please review the following " + str;
        if (ErrorList.Errors.Count > 1) str += "s";
        return str;
    }

    protected string GetIconClass(ErrorSeverity severity)
    {
        switch (severity)
        {
            case ErrorSeverity.Critical:
            case ErrorSeverity.Error: return "fa-exclamation-circle";
            case ErrorSeverity.Warning: return "fa-exclamation-triangle";
            case ErrorSeverity.Info: return "fa-info-circle";
        }
        return "";
    }

    public void Close(MouseEventArgs args)
    {
        if (ErrorList != null) ErrorList.Clear();
    }
}
